<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--Performance-->
        <property name="hibernate.jdbc.batch_size">5</property>
        <property name="hibernate.order_inserts">true</property>
        <property name="hibernate.order_updates">true</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>

        <!--Logging-->
        <property name="hibernate.generate_statistics">true</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.use_sql_comments">true</property>


        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/filesys</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">1111</property>

        <mapping class="model.User"/>
        <mapping class="model.Event"/>
        <mapping class="model.File"/>
    </session-factory>
</hibernate-configuration>
